@charset 'utf-8';

/*body
-----------------------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif, 'Sawarabi Gothic', sans-serif;
  background-color: #cfcfcf;
  color: #000;
  font-size: 16px;
}

/*layout 共通
-----------------------------------*/
div[class$="__inner"] {
  padding: 0 20px;
  background-color: rgba(240, 248, 255, 0.7);
}

@media screen and (min-width: 768px) {

div[class$="__inner"] {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(240, 248, 255, 0.7);
}
}

[class$="__txt"] {
  line-height: 2;
  margin-bottom: 40px;
}

/*font*/
h1,
h2,
h3 {
  text-align: center;
}

h1 {}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

p {}

a {}

a:hover {}

strong {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 400;
}

/*elem
---------------*/

/*more*/
.more a {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 50%;
  font-size: 0.8rem;
  text-align: center;
  padding-top: calc(30px - 16px);
  padding-bottom: calc(30px - 16px);
  display: block;
  background-color: rgb(14, 74, 53);
  border-radius: 4px;
  color: #fff;
}

.more a::after,.more-nodec a::after {
  content: ">";
  padding-left: 0.5rem;
}
.more-nodec{
  text-align: end;
}
..more-nodec a{
  display: block;
}

#hotline a{
  color:  #005200;
}


/*border*/
.border{
  display: block;
/*  width: 80%;*/
  margin:0 auto;
  text-align: center;
  margin-bottom: 60px;
}

/*共通
-----------------------------------*/

/*news*/

.date{
  margin-bottom: 10px;
}

/*hotline, ambassador*/

.name{
  text-align: center;
  margin-bottom: 20px;
}
.name:nth-last-child(1){
  margin-bottom: 40px;
}

/*top
------------------------------------*/
.top__box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.top__box img {
  padding-right: 0.5rem;
}

.top__box a {
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
  display: block;
  width: 25vw;
  padding:10px;
}
.h-guide{
  background-color: #383838;
}
.h-cart{
  background-color: #1D4A35;
  margin-left: 15px;
}



/*btm*/

.btm__fix {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.btm__fix > img{
  width: 50%;
}

@media screen and (min-width: 768px) {
.btm__fix {
  max-width: 50%;
  }
.btm__fix > img{
  width: 100%;
}
}

/*header
-----------------------------------*/
.header__box{
display: flex;
  justify-content: space-between;
}
.h-logo{
  width: 70%;
}
.header .header__inner {
  border-top: 2px solid #1D4A35;
  z-index: 999;
padding-bottom: 10px;
}



/*g-nav-----------------------------------*/

/*menu*/
.menu__box{
  border: 1px solid #222;
  width: 50px;
  height: 50px;
}

.menu div.menubar {
  width: 20px;
  margin: 20px auto;
}
.menu div.menubar .bar {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  border-radius: 6px;
  background-color: #222;
}

nav {
      display: none;
    }

.g-nav {
  background-color: #c4ec51;
  display: flex;
  justify-content: space-between;
}

.g-nav li {
  width: calc((100% / 3) - 10px);
}

.g-nav li a {
  display: block;
  /* line-height: 20px;*/
  border-left: 1px solid #333;
  box-sizing: border-box;
  cursor: pointer;
}

.g-nav li:last-child a {
  border-left: 1px solid #333;
}

.g-nav li a:hover {
  background-color: #5decbc;
  color: #333;
  transition: 0.4s;
}

#fv {
  height: 80vh;
  background: url(../img/top_002_1.jpg) no-repeat center/cover;
position: relative;
}
.fv__box{
  position: absolute;
    top: 25%;
    left: 0px;
/*    bottom: 0px;*/
    right: 0px;
    margin: 0 auto;
  text-align: center;
  color: #fff;
}
#fv .more a{
  background-color:rgb(22, 132, 31);
}

@media screen and (min-width: 768px) {
  .fv__box{
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
/*    margin: 0 auto;*/
  text-align: center;
  color: #fff;
}
}

/*main
-----------------------------------*/
main {
/*  background-color: #ec9b51;*/
}
/*news
-----------------------------------*/
#news{
  background-color:#241004;
}
#news a{
  display: block;
  color: #fff;
}

  #news .news__inner{
    display: flex;
  padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
  }

.info a{
  display: block;
  margin-bottom: 30px;
  }
@media screen and (min-width: 768px) {
  .info a{
margin-bottom: 0;
  }
  .info a >div{
    float: left;
    padding-right: 1rem;
  }
  .news__inner{
    display: flex;
  }
}

/*message
-----------------------------------*/
#message{
  text-align: center;
}
#message .message__inner{
padding: 80px 20px 50px; }

/*reason
-----------------------------------*/

#reason .reason__inner{
padding:50px 20px 90px;
}
.re__cont img{
margin-bottom: 50px;}

/*hotline
-----------------------------------*/
#hotline .hotline__inner{
padding: 40px 20px;
  background-color:#EEEFEF;
}

.swiper-slide1{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.swiper-slide1 div{
  text-align: left;
}

.swiper-slide1 img{
margin-bottom: 20px;
  border-radius: 50%;
  width: 40%;
}
.swiper-slide1 .name{
  font-weight: bold;
}


/*ambassador
-----------------------------------*/

#ambassador .ambassador__inner{
  padding: 80px 20px 90px;
}
.amb__cont img{
  margin-bottom: 40px;
}



@media screen and (min-width: 768px) {
.amb__conts{

}

.amb__cont{
  display: flex;
  justify-content: space-between;
}
  .amb__cont:nth-of-type(2n){
    flex-direction: row-reverse;
  }

}


/*products
-----------------------------------*/
#products{
  height: 85vh;
  position: relative;
  background:url(../img/03_001.jpg) no-repeat center /cover;
}
.product__box {
  position: absolute;
  top: 25vh;
  left: 0;
    bottom: 0px;
      right: 0px;
  margin: 0 auto;
  color: #fff;
}
/*lfcclub
-----------------------------------*/
#lfcclub .lfcclub__inner{
  padding:150px 20px 20px;
}
#lfcclub p a{
  text-align: center;
  display: block;
  color: #1D4A35;
  margin-bottom: 50px;
}

.swiper-container{
  margin: 0 auto;
  margin-bottom: 40px;
}
.swiper-wrapper{
  margin-bottom: 20px;
}


/*reco
-----------------------------------*/
#reco .reco__inner{
  margin: 0 auto;
padding: 20px 20px 70px;
}

.reco__conts h3{
  font-size: 20px;
  font-weight: 400;
}

.reco__cont{
  margin-bottom: 30px;
}

.reco__cont img{
  width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {

.reco__conts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .reco__cont{
  width: calc((100% / 2) - 10px);
  margin-bottom: 30px;
}

}

/*support
-----------------------------------*/
#support{
  background: url(../img/top_004-1.jpg) no-repeat center/cover;
}
.support__inner {
  padding: 40px 0 20px;
  color: #fff;
}

#support img {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .support__inner {
    display: flex;
    flex-direction: row-reverse;
  }
}

/*top
-----------------------------------*/
.top {
  text-align: center;
  width: 100%;
  padding-top: 16px;
  background-color: #333;
}

.top span{
font-size: 1.5rem;
  color: #fff;
}

/*blog
-----------------------------------*/
#blog .blog__inner{
  padding: 40px 20px;
/*  margin-bottom: 40px;*/
}

#blog h2 {
  margin-bottom: 30px;
}

.blog__conts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__cont {
  width: calc((100% / 2) - 5px);
  margin-bottom: 30px;
}

.blog__cont img {
  margin-bottom: 16px;
}

.blog__cont p {
  margin-bottom: 13px;
}


/*footer
-----------------------------------*/
footer {
  text-align: center;
/*  background-color: #51bdec;*/
  border-top: 1px solid #444;
  margin: 0 20px;
}

footer img {
  width: 45%;
  margin: 40px 0;
}

.f-nav {
  display: flex;
  justify-content: center;
}

.f-nav li a {
  font-size: 7px;
  margin-bottom: 40px;
  display: block;
  padding: 0 10px;
  color: #222;
  border-right: 1px solid #444;
}

.f-nav li:last-of-type a{
  border: none;
}

.copy {
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 0.8rem;
  background-color: #1D4A35;
  color: #fff;
  padding-bottom: 50px;
}
